html, body {
height: 100%;
}

body {
	padding-left:3%;
    padding-right:3%;
    padding-top:1%;
	background: linear-gradient(to bottom, rgb(170, 170, 170),rgb(230, 230, 230)) no-repeat;
}

#slider {
    position: relative;
}

    #slider img {
        width: 100%;
        display: block;
    }

.NavMenu{
    margin-bottom: 10px;
    margin-right:30px;
    background-color: #36a4b7;
}

.NavMenu:hover{
    background-color:red;
}

/*.testTable div:nth-child(odd) {
    
}*/

    /*.testTable div:nth-child(odd):hover {
        background-color: red;
    }*/

